.allbooks {
  padding: 1.5em;
}

.allbooks__library {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.allbooks__title {
  height: 32px;
  margin: 2em;
}

.allbooks__title > h2 {
  margin-bottom: 1.3em;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

.allbooks__title > hr {
  color: #eeeeee;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-top: 1em;
  width: auto;
}

.allbooks__details {
  display: flex;
  padding: 1em;
  width: auto;
  height: max-content;
}

.allbooks__details:hover {
  border: 1px solid #0000000d;
  border: none;
  box-shadow: 0px 0px 80px 0px #0201010d;
}

.allbooks__layouts {
  padding: 0.2em 1em 0;
  padding-bottom: 1.3em;
  align-items: center;
}

.allbooks__layouts > h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.allbooks__layouts > p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.allbooks__rank {
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.users__likes {
  display: flex;
  align-items: center;
}

.likes,
.downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.ratings,
.allbooks__checkout > p,
.allbooks__instock {
  padding-left: 1em;
}

.ratings > p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
}

.sales {
  display: flex;
  align-items: center;
  padding: 1em;
}

.allbooks__checkout {
  display: flex;
  padding: 0em 1em;
  align-items: center;
}

.allbooks__price > p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.allbooks__instock > p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.allbooks__checkout > p {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.allbooks__img > img {
  width: auto;
  height: 220px;
  object-fit: contain;
}

.not__available {
  color: red;
}

.available {
  color: #65c100;
}

.allbooks__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .allbooks__library {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .allbooks__library {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .allbooks__library {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .allbooks__library {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
